.OurDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22%;
    height: 25%;
    background-color: rgb(116, 116, 116);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 0 0 0 3px orange, 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.8);
    opacity: 0;
    transition: opacity 1s;
    z-index: 9999;
}

.DropdownAction::-webkit-scrollbar,
.DropdownLicense::-webkit-scrollbar,
.DropdownTarget::-webkit-scrollbar {
    width: 12px;
}

.DropdownAction::-webkit-scrollbar-thumb,
.DropdownLicense::-webkit-scrollbar-thumb,
.DropdownTarget::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
}

.DropdownAction::-webkit-scrollbar-track,
.DropdownLicense::-webkit-scrollbar-track,
.DropdownTarget::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 8px;
}

.OurDiv.show {
    opacity: 0.8;
}

.Title {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: 'Bungee Spice', sans-serif;
    font-weight: bold;
    user-select: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.Dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding: 4px;
}

.DropdownButton,
.CompleteButton {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid rgb(211, 205, 185);
    border-radius: 6px;
    user-select: none;
    font-family: 'Lemon', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.DropdownButton:hover,
.CompleteButton:hover {
    background-color: #F4AC00;
    border: 1px solid #F4AC00;
}

.DropdownAction,
.DropdownLicense,
.DropdownTarget {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    user-select: none;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    font-family: 'Lemon', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.DropdownAction.show,
.DropdownLicense.show,
.DropdownTarget.show {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(10px);
}

.DropdownAction a,
.DropdownLicense a,
.DropdownTarget a {
    display: block;
    padding: 10px 42px;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.DropdownAction a:hover,
.DropdownLicense a:hover,
.DropdownTarget a:hover {
    background-color: #ddd;
}

.CompleteButton {
    position: relative;
    overflow: hidden;
}

.CompleteButton:hover {
    background-color: #4cae4c;
    border: 1px solid #4cae4c;
}

.DropdownButton::before,
.CompleteButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 50%, rgba(255, 255, 255, 0.3) 75%);
    pointer-events: none;
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.3s, transform 0.3s, background-position 0.5s;
    background-size: 200% 200%;
    background-position: 100% 0;
}

.DropdownButton:hover::before,
.CompleteButton:hover::before {
    opacity: 1;
    transform: scale(2);
    background-position: 0 0;
}

.CompleteButton::after {
    right: -100%;
    opacity: 0;
}

.CompleteButton:hover::after {
    opacity: 1;
}